.about {
    position: relative;
    h2 {
        transform: rotate(-90deg);
        position: absolute;
        font-family: $titleFont;
        font-size: 10rem;
        left: -20px;
        top: 250px;
        color: rgba(0, 0, 0, 0.5)
    }
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    text-align: left;
    padding-top: 200px;
    width: 60%;
    h1 {
        font-size: 5rem;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    p {
        line-height: 2;
        padding-left: 80px;
    }
}