//Gallery pages

.backArrow p {
    position: fixed;
    top: 2%;
    width: 5rem;
}

.collection {
    // height: 100vh;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    // border: 1px solid blue;
    overflow: hidden;
}

.imageGallery {
    width: 80%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageGallery img {
   max-height: 95%;
   display: block;

    // display: block;
    // height: 400px;
}


// .imageSlider {
//     width: 100%;
//     height: 10vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     div {
//         margin: 0 5px;
//         background: lightblue;
//         height: 100%;
//     }
// }