//Gallery pages

.backArrow p {
    position: fixed;
    top: 2%;
    width: 5rem;
}

.collection {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.imageGallery {
    width: 80%;
    height: 95vh;
    overflow: hidden;
}

.imageGallery img {
   display: block;
}

.collection1 {
    overflow-y: none;
}