//Gallery pages

.backArrow p {
    position: fixed;
    top: 2%;
    width: 5rem;
}

.collection {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.imageGallery {
    width: 80%;
    height: 95vh;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.imageGallery img {
//    max-height: 100%;
   display: block;

    // display: block;
    // height: 400px;
}

.collection1 {
    overflow-y: none;
}