article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto", sans-serif;
}

header {
  height: 100vh;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerContent h1 {
  margin: 0;
  text-transform: uppercase;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.enter {
  color: black;
  text-align: center;
  border: 1px solid black;
  margin-top: 5px;
  padding: 5px 48px;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.enter:hover {
  background: #a6cabe;
  color: white;
  border-color: #a6cabe;
}

.test {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headerAnimation {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.galleryBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galleryAside {
  width: 20%;
}

.galleryAside .galleryAsideContent h1 {
  position: fixed;
  top: 50%;
}

.galleryMain {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryMain .galleryTrio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.galleryTrio:last-child {
  border-bottom: none;
}

.gallery {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  border-right: 1px solid lightgray;
}

.gallery h2 {
  font-size: 10rem;
}

.gallery:nth-child(3) {
  border-right: none;
}

.gallery .galleryImage {
  padding: 20px;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  opacity: 50%;
  text-align: center;
  display: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.galleryImage:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backArrow p {
  position: fixed;
  top: 2%;
  width: 5rem;
}

.collection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.imageGallery {
  width: 80%;
  height: 95vh;
  overflow: hidden;
}

.imageGallery img {
  display: block;
}

.collection1 {
  overflow-y: none;
}
/*# sourceMappingURL=styles.css.map */